{% extends "layout.html" %}
{% block content %}

<div class="card">
  <h3>Add Account</h3>

  <form method="post">
    <input name="account_name" placeholder="Account name" required>

    <select name="account_type">
      <option value="bank">Bank</option>
      <option value="cash">Cash</option>
      <option value="demat">Demat</option>
    </select>

    <input type="number" step="0.01" name="balance" placeholder="Opening balance">

    <button>Add Account</button>
  </form>
</div>

{% endblock %}
