{% extends "base.html" %}
{% block content %}

<h3>Add Transaction</h3>

<form method="post">
  <input type="date" name="bill_date" required>

  <input type="number" step="0.01" name="amount" placeholder="Amount" required>

  <select name="flow">
    <option value="debit">Debit</option>
    <option value="credit">Credit</option>
  </select>

  <select name="finance_type">
    <option>expense</option>
    <option>income</option>
    <option>transfer</option>
    <option>investment</option>
    <option>shared-open</option>
  </select>

  <input name="account_id" placeholder="Account ID">
  <input name="method_id" placeholder="Method ID">

  <textarea name="description" placeholder="Description"></textarea>

  <button>Add Transaction</button>
</form>

{% endblock %}
